doctype html
html
    head
    title Alchemy API Demo
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet',href='/stylesheets/style.css')
    body
        .container-fluid
            .row
                .col-md-12
                    nav.navbar.navbar-default.navbar-inverse(role='navigation')
                        #bs-example-navbar-collapse-1.collapse.navbar-collapse
                            ul.nav.navbar-nav
                                li.active
                                    a(href='#') Link
                                li.active
                                    a(href='#') Link
                                li.active
                                    a(href='#') Link
                                li.active
                                    a(href='#') Link
                                li
                                    a(href='#') Link

    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/bootstrap.min.js')