doctype html
html
    head
    title IBM Watson Alchemy API
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet',href='/stylesheets/style.css')
    body
        .container-fluid
            .row
                a(href='https://github.com/vish74/IBM-Watson-AlchemyAPI' target='_blank')
                    img(style='position: absolute; top: 0; left: 0; border: 0;', src='https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png')
                .col-md-10.col-md-offset-1
                    .col-md-4
                    .col-md-6
                        h3=status
                .col-md-10.col-md-offset-1
                    form.form-horizontal(method='POST', action='/keycheck')
                        fieldset
                            // Form Name
                            legend
                            // Text input
                            .form-group
                                label.col-md-4.control-label(for='keyinput') Alchemy API Key
                                .col-md-4
                                    input#textinput.form-control.input-md(name='keyinput', type='text', placeholder='Enter Your API Key', maxlength='40', minlength='40',value=keydef, required='')
                            // Button
                            .form-group
                                label.col-md-4.control-label(for='button')
                                .col-md-4
                                    button#singlebutton.btn.btn-primary(name='button') Validate
                    .col-md-4
                    .col-md-4
                        p AlchemyAPI is helping pioneer a computer's ability to understand human language and vision via an easy-to-use SaaS API. Integrate advanced text mining and computer vision functionality into your application, service, or data-processing pipeline.
                        p This is a demo application, which is hosted on IBM Bluemix platform. Application created using Node.JS, utilizing all API calls and providing playground for testing purpose.
                        p
                            b
                                u Application doesn't store any data of users.
                        h3 Claim Your Alchemy API key
                            a(href='http://www.alchemyapi.com/api/register.html' target='_blank' style="color:#000;")  here
    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/ga.js')