doctype html
html
    include header.jade
    body
        h1=status
        form.form-horizontal(method='POST', action='/keycheck')
            fieldset
                // Form Name
                legend
                // Text input
                .form-group
                    label.col-md-4.control-label(for='keyinput') API KEY
                    .col-md-4
                        input#textinput.form-control.input-md(name='keyinput', type='text', placeholder='Enter Your API Key', maxlength='40', minlength='40',value=keydef, required='')
                // Button
                .form-group
                    label.col-md-4.control-label(for='button')
                    .col-md-4
                        button#singlebutton.btn.btn-primary(name='button') Validate
    include footer.jade
